<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         
         <p>Batimento cardíaco médio por minuto <input type = "text" name = "AVGHEARTBEATSPERMIN" /></p>
         <p>Palpitações por dia <input type = "text" name = "PALPITATIONSPERDAY" /></p>
         <p>Colesterol <input type = "text" name = "CHOLESTEROL" /></p>
         <p>BMI <input type ="text" name = "BMI" /></p>
         <p>Idade <input type ="text" name = "AGE" /></p>
         <p>Gênero <input type ="text" name = "SEX" /></p>
         <p>Histórico familiar <input type ="text" name = "FAMILYHISTORY" /></p>
         <p>Fumante <input type ="text" name = "SMOKERLAST5YRS" /></p>
         <p>Minutos de exercícios por semana <input type ="text" name = "EXERCISEMINPERWEEK" /></p>
         
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>